<div id="modalRecuperarPass" class="modal fade bs-example-modal-static" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modalTitulo" aria-hidden="true">
    <br>
    <br>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitulo">¿Olvido su contraseña?</h4>
            </div>
            <form name="frmRecuperarPass" ng-submit="recuperarPassword()" novalidate="novalidate">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label">Número documento<span class="asterisk">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Ingrese documento"
                                       ng-model="datos.documento" required />
                            </div>
                        </div><!-- form-group -->
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label">Nombre de usuario<span class="asterisk">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Ingrese nombre de usuario"
                                       ng-model="datos.usuario" required/>
                            </div>
                        </div><!-- form-group -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>