<div class="pageheader" page-header></div>

<div class="contentpanel">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
      <chain-panel title="Maestro Estados de Caja Menor" description="Registro de estados de caja Menor.">
        <button class="btn btn-primary btn-metro btn-xs mr5 mb10" ng-click="open('','static', 'create')">
          <i class="fa fa-plus-circle"></i> Crear Nuevo</button>

        <div class="table-responsive">
          <div class="loaders text-center" ng-hide="estadosCM.status">
            <img alt src="images/loaders/loader15.gif">
          </div>
          <table class="table mb30" datatable="ng" dt-options="dtOptions">
            <thead>
              <tr>
                <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">Id</th>
                <th class="col-xs-6 col-sm-3 col-md-3 col-lg-3">Estado</th>
                <th class="col-xs-1 col-sm-1 col-md-2 col-lg-2 text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ecm in estadosCM.data">
                <td class="text-center">{{ecm.idEstadoCajaMenor}}</td>
                <td>{{ecm.nombreEstado}}</td>
                <td class="table-action text-center">
                  <button class="btn btn-warning btn-metro btn-xs" ng-click="open('','static', 'edit',ecm)">
                    <i class="fa fa-pencil"></i> Editar</button>
                  <button class="btn btn-danger btn-metro btn-xs" ng-click="delete('sm','static',ecm)">
                    <i class="fa fa-trash-o"></i> Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->

      </chain-panel>
    </div>
    <!-- col-sm-6 -->
  </div>
  <!-- contentpanel -->