<div class="pageheader" page-header></div>

<div class="contentpanel">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <chain-panel title="Solicitar Cita" description="Solicitud de citas.">
        <!-- <button class="btn btn-primary btn-metro btn-xs mr5 mb20" ng-click="open('','static', 'create')">
          <i class="fa fa-calendar"></i> Nueva visita</button> -->

        <!-- <div class="loaders text-center mb20" ng-hide="schedules.status">
          <img alt src="images/loaders/loader15.gif">
        </div> -->
        <div class="col-lg-10">
          <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="scheduleCalendar"></div>
        </div>

      </chain-panel>
    </div>
    <!-- col-sm-6 -->
  </div>
  <!-- contentpanel -->