<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="departmentModalForm">{{modalTittle}} de Departamentos</h4>
</div>
<div class="modal-body">

    <form name="frmDepartment" ng-submit="save()" novalidate="novalidate">
        <div class="row">
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="col-sm-3 control-label">País
                        <span class="asterisk">*</span>
                    </label>
                    <div class="col-sm-9">
                        <select ui-select2="{ allowClear: true }" data-placeholder="Seleccione un país..." class="width100p" required 
                        ng-model="depto.idPais.idPais">
                            <option value=""></option>
                            <option ng-repeat="country in countries.data" value="{{country.idPais}}">{{country.nombrePais}}</option>
                        </select>
                    </div>
                </div>
                <!-- form-group -->
            </div>

            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Código
                        <span class="asterisk">*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm" placeholder="Ingrese el código" required 
                        ng-model="depto.idDepartamento" ng-only-numbers ng-disabled="action == 'edit'"/>
                    </div>
                </div>
                <!-- form-group -->
            </div>
            <!-- col-sm-6 -->
        </div>
        <div class="row mb10">
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nombre
                        <span class="asterisk">*</span>
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" placeholder="Ingrese el nombre del departamento" required 
                        ng-model="depto.nombreDepartamento" />
                    </div>
                </div>
                <!-- form-group -->
            </div>
            <!-- col-sm-6 -->
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-sm-offset-4">
                <button type="submit" class="btn btn-success btn-metro btn-xs mr5"><i class="fa fa-save"></i> Guardar</button>
                <button type="reset" class="btn btn-dark btn-metro btn-xs" ng-click="clean()"><i class="fa fa-eraser"></i> Limpiar</button>
            </div>
        </div>
    </form>

</div>
<!-- modal-body -->
<div class="modal-footer">
    <button class="btn btn-default btn-metro btn-xs" ng-click="cancel()">Cerrar</button>
    <!-- <button class="btn btn-success btn-metro btn-xs" ng-click="ok()">Guardar</button> -->
</div>